<h1>Which Recipe Would You Like To Add?</h1>

<form action="/add_recipes" method='post'>
  <label for="rname">Recipe Name:</label><br>
  <input type="text" id="rname" name="rname"><br>
  <label for="prep_time">Preparation Time:</label><br>
  <input type="text" id="preptime" name="preptime"><br>
  <label for="diff">Difficulty:</label><br>
  <input type="text" id="diff" name="diff"><br>
  <label for="descp">Description:</label><br>
  <input type="text" id="descp" name="descp">

   <input type="submit" value="Submit">
</form>
